@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 10px;
    padding: 3px;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Poppins', sans-serif; ;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center; /* Alinha verticalmente */
    text-align: center; /* Centraliza o texto */
  }

/* Estilos para telas menores (tablets e smartphones) */
@media only screen and (max-width: 768px) {
    body {
      font-size: 14px;
    }
  }

  @media only screen and (max-width: 480px) {
    body {
      font-size: 12px;
    }
  }  

  .container_pagamento {
    max-width: 90%; /* Ocupa até 90% da tela, mas pode ser ajustado */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  } 


h1{
    color: crimson;
    text-align: center;
    padding: 45px;
}

p{
    padding: 20px;

}

.buttonPag{
    
    background-color: crimson;
    width: 350px;
    margin: 0 auto;
    display: inline-block;
    background: crimson;
    color: #fff;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    padding:10px 20px;
}

.buttonPag:hover{

    color: crimson;
    background: none;
}